.event {
  background-color: rgba(35,143,207,.4) !important;
  font-weight: 600;
  font-size: 10px;
}

.weekCalendar__headerColumn {
  background-color: #055A8B;
  color: #FFFFFF;
}

.weekCalendar__scaleHeader {
  background-color: #055A8B !important;
}

.weekCalendar__scaleCell {
  font-weight: 600;
}
